[2019-07-19 15:20] dhartford opened #51 "Recommend maven-enforcer to validate maven version [Error injecting...]"
Hi Team,
While trying the onboarding-examples, payroll project, ran into this issue and the following resolution by adding a maven-enforcer to the pom.xml.   Not sure if this is a path you want to go down, so simply recommending (it may be project specific, or add to parent).

      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-enforcer-plugin</artifactId>

[2019-07-22 00:54] mswiderski commented on #51
for kogito you need to have maven 3.5.3+ as we align with quarkus on that

[2019-07-22 17:15] mmonti opened #52 "Decision Tables - Using Variables - Unable to resolve class '<X>' for global 'e'"
I have been playing around with https://github.com/kiegroup/kogito-examples/tree/master/drools-quarkus-example because we have a service that uses drools and we want to migrate to Kogito.

I found an issue when using Variables that seems to be happening only when I run a native build (```mvn clean package -Pnative```).
The project compiles and I can run the executable just fine but when I call the

[2019-07-22 17:48] mmonti opened #53 "Decision Tables - Rules are not generated when removing Sample.drl"
I am testing the ***drools-quarkus-example*** and I found that removing the Sample.drl file from the resources folder causes that the **kogito-maven-plugin** not generating the rules for the _CanDrink.xls_ decision table.

Adding an empty DRL file, it generates the rules again:

- With the DRL file on resources:
<img width="654" alt="Screen Shot 2019-07-22 at 11 27 46 AM" src="https://user-images.

[2019-07-22 23:24] mswiderski commented on #51
would you mind preparing PR for it?

[2019-07-24 17:20] mmonti commented on #52
@mswiderski I just realized that the Kogito site mentions to report issues in the Jira platform. Should I move these two issues there for tracking?

[2019-07-24 21:35] mswiderski commented on #52
@mmonti yes, please move it to jira so we can track it and include in upcoming release, thanks

[2019-07-25 22:43] mswiderski commented on #51
PR merged

[2019-07-25 22:43] #51 closed

[2019-07-25 22:43] mswiderski commented on #52
moved to jira https://issues.jboss.org/browse/KOGITO-78

[2019-07-25 22:43] #52 closed

[2019-07-25 22:44] mswiderski commented on #53
moved to jira https://issues.jboss.org/browse/KOGITO-79

[2019-07-25 22:44] #53 closed

[2019-11-11 05:31] sherl0cks opened #103 "Optaplanner support?"
There currently isn't an optaplanner example. Is there support in kogito/quarkus for optaplanner? If so, would you all be interested in a contribution that ports one of the examples in https://github.com/kiegroup/optaplanner/tree/master/optaplanner-examples to this repo?

[2019-11-27 09:55] simonedavico opened #106 "Is it possible to load knowledge from a kjar dependency?"
Hi, we would like to migrate our KIE Execution Server setup to Kogito. We currently package our rules (composed of .drl and .gdst files) into a KJAR. The kmodule of the KJAR defines a default kie base and a default stateless kie session:

[code]

When we try to retrieve the kie session,either as `SessionUnit` injected via `@Named` or via `KieRuntimeBuilder`, the kie session is not found.

If we co

[2019-11-27 10:07] evacchi commented on #106
Hi Simone

1. no, the deployment model for Kogito does not include (at least currently) support for kjars. My suggestion is to setup a fresh Kogito project and move your resources there
2. currently only DRL and XLS rules are supported

[2019-11-27 10:13] simonedavico commented on #106
Thanks Edo, good to know :) given that we need to setup guided decision tables through Business Central, what would be the best way to extract drls from them to add them to our Kogito project without having to do a lot of manual work?

[2019-12-18 16:21] simonedavico commented on #106
If anyone else stumbles into this, we worked around this issue by writing a maven plugin which loads knowledge files from a kjar at compile time, and also converts `.gdst` files to `.drl`.

You can check it out [here](https://github.com/welldsagl/kogito-kjar-maven-plugin).

[2020-01-24 07:36] jmini opened #124 "IllegalStateException: Unable to perform hot replacement scanning"
When the `jbpm-quarkus-example` is started in dev mode with:

[code]
As indicated in the Readme.

I sometimes get this error on pages like http://localhost:8080/swagger-ui/ or in the return statement of a REST request:

*Error restarting Quarkus*
[code]

This can be manually fixed by running:

[code]

... before reloading the page.

But I assume that this is not the idea.

[2020-01-28 09:16] evacchi commented on #124
a change in quarkus causes `mvn clean package quarkus:dev` not to work
you should use `mvn clean compile quarkus:dev` we are investigating to understand what causes the issue

[2020-01-28 09:16] #106 closed

[2020-02-05 08:07] jomarko commented on #124
The same happens also in https://github.com/kiegroup/kogito-examples/blob/master/onboarding-example/

[2020-02-05 08:10] jomarko commented on #124
![Screenshot from 2020-02-05 09-08-56](https://user-images.githubusercontent.com/8044780/73822797-2ca92c00-47f7-11ea-85e1-44296f6d4e14.png)

@evacchi this is what I see when using `mvn clean compile quarkus:dev` is that expected. I am confused as endpoints are listed but header says 404 - not found.

[2020-03-13 08:51] carlosthe19916 opened #145 "Kogito Bug when using Declared Types and/or Traits"
I've been trying to use Kogito and Quarkus but I ended up not being able to use all the features that Drools gives. I'm not sure where to raise this bug so I'll start reporting it here:

- If I declare a type inside a .drl file the I have an exception: /classes/META-INF/native-image/org/acme/kogito/reflect-config/json.java (11:1) : class, interface, or enum expected.

To reproduce the error you on

[2020-03-13 09:38] evacchi commented on #145
Hi @carlosthe19916

- can you try the workflow described here? http://blog.athico.com/2020/03/kogito-ergo-rules-from-knowledge-to.html we are in the process of updating the quickstarts, some uses an older syntax.

- traits are not currently supported. What are you trying to achieve?

[2020-03-13 12:07] carlosthe19916 commented on #145
@evacchi Thank you very much for the link provided, it helped a lot.
- Now I know that traits are not currently supported
- My scenario is that I have 2 Objects (classes) which contains different structures, and the structure of both objects contains other objects inside (something like Person => address => postalCode); I'm using drools to process the first object and move it to the second object

[2020-03-13 13:11] evacchi commented on #145
interesting. You can obtain the same behaviour by creating two classes and have a constructor or factory method on the enriched one that copies over the values from the first. If you also need the polymorphic features of traits, you should be able to simulate it through inheritance or interfaces (an EnrichedPerson may extend an Person or you could implement an EnrichedPerson interface)

[2020-03-13 13:13] evacchi commented on #145
PS: you can also get in touch with us through https://groups.google.com/forum/#!forum/kogito-development

[2020-03-16 13:40] kmacedovarela commented on #103
Hey, please refer to this example:

https://github.com/kiegroup/kogito-examples/pull/121

[2020-05-22 10:52] danipenaperez commented on #106
Hi all,
@evacchi Do you know if will be available kjars support for Kogito soon?. I think is a good functionallity for packaging versioning and monitoring with KScanner.

[2020-06-16 09:50] sschwedler opened #276 "DMN example in Doc does not work"
I tried the dmn example described here [1]. The age check example with the the dmn wrapped in a bpmn does not work. It fails with the following message. I tried the steps described and also copies the provided dmn and bpmn2 files.

[1] https://docs.jboss.org/kogito/release/latest/html_single/#chap-kogito-creating-running

[2020-06-16 11:30] #276 closed

[2020-06-16 11:30] sschwedler commented on #276
User error :-)

[2020-06-16 12:10] sterobin commented on #276
Thanks @sschwedler . I was going to guess a capitalization error or something. Glad you figured it out. Thanks for the bug anyway. :)

[2020-07-02 10:27] litts opened #286 "no main manifest attribute,"
I have
- Apache Maven 3.6.3
- Java version: 14.0.1

and I cloned dmn-quarkus-example.jar
I can start the application in dev mode but I can't run the application in JVM mode.  I get the above error. I have not changed anything

mvn package
java -jar ./target/dmn-quarkus-example.jar

no main manifest attribute, in ./target/dmn-quarkus-example.jar

[2020-07-02 15:40] #286 closed

[2020-07-02 15:40] litts commented on #286
none issue

[2020-10-13 08:48] rakeshim opened #390 "Quarkus mongoDB example is not generating proto files"
Hi,

I picked up process-mongodb-persistence-quarkus example and when I tried to build project its not generating proto files in target/classes/persistence directory.

Here are my application.properties entries
[code]

Even service is creating default DB in mongoDB i.e. kogito. So seems somehow its not picking up `quarkus.mongodb.database`. Also if I change `kogito.persistence.type=mongodb` to `ko

[2020-10-14 13:58] chris-aeviator opened #397 "Wrong readme on optaplanner-flight example"
the readme states to POST `{ "passenger": { "name": "Amy Cole", "seatTypePreference": "WINDOW", "emergencyExitRowCapable": true, "paidForSeat": true, "seat": "3A" }}`

while src/main/java/org/kie/kogito/examples/domain/PassengerDTO.java does not require a "passenger" to be sent on `/flights/{id}/newPassengerRequest` and therefore only

`{ "name": "Amy Cole", "seatTypePreference": "WINDOW", "emerge

[2020-11-13 10:13] rbaumgar opened #454 "Travel agency tutorial: Data Index Service fail"
try to run example at https://docs.jboss.org/kogito/release/latest/html_single/#con-kogito-travel-agency_kogito-deploying-on-openshift
at step 3.4.6 Installing the Kogito Data Index Service for Kogito services on OpenShift
$ kogito install data-index --infra kogito-infinispan-infra --infra kogito-kafka-infra
[code]
Infinispan
[code]
So it looks like Date Index Service does not use SSL...

Here is

[2020-11-13 12:45] rbaumgar commented on #454
looks like duplicate https://github.com/kiegroup/kogito-cloud-operator/issues/607

[2020-11-18 12:11] rbaumgar commented on #454
No, it is not a duplicate!
Problem is that no certificate is used to connect to Infinispan/Data Grid.
Found description at https://github.com/redhat-mw-demos/quarkus-dg-tls

1. Create secrets for the TLS endpoints
[code]
2. Update configmap data-index-properties
[code]
3. edit deployment data-index, mount volume with newly created secret
[code]
4. update configmap travel-properties and visas-prope

[2020-11-18 12:22] ricardozanini commented on #454
Hi! Please take a look at https://github.com/kiegroup/kogito-cloud-operator/pull/646

The fix should be delivered in the upcoming 1.0.0 version! Thanks for letting us know!

[2020-11-18 12:24] ricardozanini commented on #454
This example was meant to be used with Infinispan 10.x version of the operator. For the new version you should wait for 1.0.0 of the Kogito Operator or configure manually as you did. :)

[2021-01-12 11:45] Stevef-aa opened #508 "Doc issue in trusty-demonstration"
Please update README to mention the need to download and apply the kogito-operator.yaml   file so that the operator will run

[2021-02-01 10:38] foogood7 opened #543 "No class PMMLModelEvaluatorFinder od Mac"
When I try to start `dmn-quarkus-example`, I got following error:

[code]

I followed your `README.md` file. What I need to do to start project successfully?

[2021-02-01 12:48] foogood7 commented on #543
That is some Java problem, I tried with AdoptOpenJDK, but I got:

[code]

Very strange.

[2021-02-05 15:20] r00ta commented on #543
Hi @foogood7 , could you please provide us the following info?
**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:
 - Output of `java -version`:
 - GraalVM version (if different from Java):
 - Build tool (ie. output of `mvnw --version` or `gradlew --version`):
 - are you using `master` branch or a particular release?

[2021-02-15 08:12] r00ta commented on #390
Hi @rakeshim , with this PR that was merged few hours ago the proto files are generated also for Mongo https://github.com/kiegroup/kogito-runtimes/pull/825 .

examples on `master` should not have anymore the bug you reported

[2021-02-15 08:50] rakeshim commented on #390
It's great to see that it's fixed now and thanks for the update. I will have a look.

[2021-02-16 19:30] jiwonjoung opened #571 "Running my dmn-quarkus-example with different rules"
Hello,
I have run the dmn-quarkus-example for the traffic violation. I have created another dmn file with a small example of my own and I would like to run it using quarkus and drools. However, I get an error (below) when I modify the Traffic\ Violation.dmn file in the dmn-quarkus-example project. What is the correct way to test drools/quarkus with a custom dmn file?

`{"namespace":"https://github

[2021-02-17 09:31] r00ta commented on #571
Hi @jiwonjoung , apparently your dmn model contains some errors.
At the moment the only thing you can do to test your model is to deploy it with kogito, but we are currently working on some other solutions (also with the online editor) that will make testing much more easy

[2021-02-18 14:42] r00ta commented on #397
Thanks @chris-aeviator and sorry for the late reply. I've checked and you're right. I just pushed the fix

[2021-02-18 14:43] #390 closed

[2021-02-25 15:49] r00ta commented on #543
Hi @foogood7 , any update on this?

[2021-02-25 15:54] r00ta commented on #571
Hi @jiwonjoung , if you want to quickly test your dmn model you can use the new JIT dmn service https://github.com/kiegroup/kogito-apps/tree/master/jitexecutor.

You can run the docker image we provide with
[code]
and submit the request according to the readme you see in the link before.

In the next weeks/months a new update of the online editor https://kiegroup.github.io/kogito-online/#/editor/d

[2021-02-25 15:54] #571 closed

[2021-02-25 15:55] #397 closed

[2021-03-01 09:55] r00ta commented on #543
Closing since there is no response from author. Feel free to re-open it adding more info

[2021-03-01 09:55] #543 closed

[2021-03-31 16:50] rbaumgar opened #634 "process instance diagram does not work: port must be in range"
I deployed kogito-travel-agency/extended/travels and visas onto OpenShift 4.7 with infinispan, kafka and data-service
So far everything is working perfect. Version 1.4.1-Final

I can successful access the process diagram like described https://docs.jboss.org/kogito/release/latest/html_single/#_process_diagram
[code]
When I try to get the process instance diagram like described
https://docs.jboss.o

[2021-04-23 13:23] r00ta commented on #508
Hi @Stevef-aa , this PR https://github.com/kiegroup/kogito-examples/pull/661 contains the fix

[2021-05-25 18:47] jiwonjoung opened #706 "Controlling output from kogito-drools"
I am able to run the dmn-quarkus-example and get the output from model. I am wondering how to customize the format of the output from the model.

For example, I want to remove the original inputs from the response. I also want to add a 'status' field in the returned JSON.

[2021-06-04 07:57] r00ta commented on #508
Fixed in  #661

[2021-06-04 07:57] #508 closed

[2021-06-16 20:35] rafaeltuelho commented on #145
I hit this same issue today using Kogito `1.6.0.Final`. Interesting that the Kogito docs use the DRL `declare` statement for defining Fact Types for all drools rules examples...

[2021-06-27 14:47] uteegozi opened #753 "Travel Agency Tutorial - Basic - java.lang.UnsupportedClassVersionError"
when running the example as described inside the Dockerfile.jvm, the following exception happens:

Caused by: java.lang.UnsupportedClassVersionError: io/quarkus/bootstrap/logging/InitialConfigurator has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0

Seems like the io.quarkus.boot

[2021-06-28 12:30] ricardozanini commented on #753
@uteegozi, many thanks for letting us know. Do you think you can send a PR to replace the image? :)

[2021-06-28 16:48] uteegozi commented on #753
yes

On Mon, Jun 28, 2021 at 3:31 PM Ricardo Zanini ***@***.***>
wrote:

[2021-06-29 10:10] ricardozanini commented on #753
@uteegozi you can assign it to me :)

[2021-06-29 10:32] uteegozi commented on #753
@ricardozanini Oh, already Daniele is dealing with it - hope that is ok

[2021-06-29 13:22] #753 closed

[2021-06-30 12:22] ricardozanini commented on #753
Handled in https://github.com/kiegroup/kogito-examples/pull/762

[2021-06-30 13:05] evacchi commented on #706
AFAIK there is no way to do this at the moment, but we could file a feature request. I think that when we will support custom definition of REST endpoints then you may just expose a custom POJO in your endpoint signature cc @tarilabs

[2021-06-30 13:10] tarilabs commented on #706
cc @danielezonca

Since the Swagger/OAS generation is based on the specification conventions, this use-case can only be achieved by manual customisation of (other) REST endpoints by the developer.
e.g.: skip REST generation, manually develop REST endpoint using Quarkus as desired.

[2021-06-30 13:26] danielezonca commented on #706
I think there are way to approach the requirement:
- remove input from output: we have a similar option when DMN is used connected with Kafka ([see option](https://github.com/kiegroup/kogito-examples/blob/stable/dmn-event-driven-quarkus/src/test/resources/events/evaluate_all/context_only/filtered/input.json#L9)) and I think it could make sense to consider a similar option also for REST (@tarilabs

[2021-07-02 13:42] r00ta commented on #103
Hi @sherl0cks , I close the issue given that we now have some OP examples

[2021-07-02 13:42] #103 closed

[2021-07-02 13:46] r00ta commented on #124
Hi @jomarko , atm `mvn clean compile quarkus:dev` works properly on those projects. I will close the issue but if you still have some problems with those feel free to re-open

[2021-07-02 13:46] #124 closed

[2021-07-05 03:12] ChangDaoHang opened #769 "Import 'kogito-types.proto' not found"
**Version**
[code]
**Spring POM**
[code]
**[ERROR]**
When I use MongoDB for persistence,Kogito always throw the following exceptions:
[code]

[2021-07-07 07:57] vaibhavjainwiz commented on #634
Issue wasn't reproduced on 1.7. Kindly reopen it if you face this issue again.

[2021-07-07 07:57] #634 closed

[2021-07-14 17:45] mgonzaga1990 opened #794 "Is Multiple Gateway Event Supported?"
I have a Design below which uses 2 Gateway Events after each Immediate
![image](https://user-images.githubusercontent.com/21145779/125666098-ea6194f9-71a3-495e-92c2-a6f4c2779aff.png)

Basically I have 3 projects
1st project that holds the above bpmn
2nd project that subscribe for the intermidiate message after the ServiceContract UserTask
3rd project that is subscribe to the intermidiate message a

[2021-07-18 09:34] Aymastou commented on #769
I get also the same issue with MongoDB for persistence and Quarkus .
Same issue will be thrown by running the project kogito-examples/process-mongodb-persistence-quarkus/ (branche: stable)  in local dev Mode.

[2021-07-28 10:05] ChangDaoHang commented on #769
This happens when I refer to the custom type as process data and use persistence in the local environment.

[2021-07-28 13:34] ricardozanini commented on #769
cc @cristianonicolai @xieshenzh can you guys please take a look?

[2021-07-28 14:25] xieshenzh commented on #769
It seems this issue is related to https://issues.redhat.com/browse/KOGITO-5320. @uteegozi is working on it.

[2021-07-28 19:41] ricardozanini commented on #769
Many thanks, @xieshenzh!

@ChangDaoHang @Aymastoum you guys can follow the issue in the opened JIRA. Please let us know if we can help you with anything else.

[2021-07-29 03:28] ChangDaoHang commented on #769
I now have to remove persistence to keep the service running properly. Although the index service caches data to the database, the application service cannot persist, so my service must always be running, otherwise the current process instance will be lost. I uploaded the example I'm trying, which is the SpringBoot project: [kogitoDemo](https://github.com/ChangDaoHang/kogitoDemo)

[2021-08-02 03:58] ChangDaoHang commented on #769
@ricardozanini @xieshenzh @Aymastou I finally found the reason, which is something like this, when running locally, it is referenced in the generated "application-types.proto" file "Kogito-types. proto", but the path says" import "kogito-types.proto";"  In fact, I can't find the file because it is in the "META-INF" folder. I tried to change it to" import "meta-INF /kogito-types.proto";  Everything

[2021-08-02 11:55] ricardozanini commented on #769
@cristianonicolai ^

[2021-08-03 08:53] cristianonicolai commented on #769
@ChangDaoHang @Aymastou I checked both examples process-mongodb-persistence-springboot and process-mongodb-persistence-quarkus, on the current stable branch ( version 1.9.0 ) and both seem to work fine to start and initiate a new process instance using dev mode, spring-boot:run and the generated jars. Im not sure Im missing something or maybe its been fixed. Would you mind double checking and mayb

[2021-08-03 11:02] ChangDaoHang commented on #769
@cristianonicolai When I debug to the position shown in the third image, the dependency value is kogito-types.proto. Obviously, the dictionary value is not this, so fd is null and an exception is thrown.  If you want to reproduce this problem in your environment, you can pull the following code to reproduce it : https://github.com/ChangDaoHang/kogitoDemo
1.
![image](https://user-images.githubuserc

[2021-08-05 03:03] kharus opened #835 "onboarding-example/hr broken on Windows due to comma in path."
Can't run `onboarding-example/hr` on Windows

`mvn clean package quarkus:dev`
gives stack trace.
Root cause looks like
[code]

[2021-08-05 08:23] r00ta commented on #835
Hi @kharus . The problem is very clear,  thank you for reporting this! I'll make a PR to fix this today

[2021-08-05 08:30] r00ta commented on #835
https://issues.redhat.com/browse/KOGITO-5660

[2021-08-05 13:21] maxloosmu opened #838 "decisiontable-quarkus-example, Powershell: Invoke-WebRequest : Cannot bind parameter 'Headers'"
I'm trying out the code for windows from "POST /find-approved" from the webpage [decisiontable-quarkus-example](https://github.com/kiegroup/kogito-examples/tree/stable/decisiontable-quarkus-example):

`curl -X POST -H "Accept: application/json" -H "Content-Type: application/json" -d "{\"maxAmount\":5000,\"loanApplications\":[{\"id\":\"ABC10001\",\"amount\":2000,\"deposit\":100,\"applicant\":{\"age

[2021-08-05 18:53] JudeNiroshan commented on #769
Hi @ChangDaoHang, I'm investigating the errorneous scenario you described here. I am using kogito version 1.8.0.Final.

I tried the [reproducible demo project](https://github.com/ChangDaoHang/kogitoDemo) which you shared. Apparently that project you have commented out the ```kogito-addons-persistence-mongodb``` dependency. Therefore the very first problem you reported on this issue that particular

[2021-08-06 01:59] ChangDaoHang commented on #769
@JudeNiroshan Thank you for your information. According to your information,I have a deeper understanding of the problem. The path used when registering proto is "META-INF/kogito-types.proto", so this problem occurs.  Here's the thing: Kogito uses "META-INF/kogito-types.proto" to register, but the path referenced in file  "application-types.proto"  is "kogito-types.proto", which gives rise to the

[2021-08-06 08:02] #835 closed

[2021-08-06 09:48] ricardozanini commented on #769
@cristianonicolai cc

[2021-08-06 09:50] ricardozanini commented on #838
@tarilabs can you take a look?

[2021-08-06 09:51] ricardozanini commented on #838
@maxloosmu can you try removing the header "accept" from your command line?

[2021-08-06 09:56] tarilabs commented on #838
https://github.com/kiegroup/kogito-examples/issues/838#issuecomment-894144309 looks affecting the DRL, not DMN, so I'm not entirely sure here. cc/ @danielezonca

[2021-08-06 11:14] danielezonca commented on #838
@maxloosmu
I think the problem is that in PowerShell `curl` seems to be an alias of `Invoke-WebRequest` that has a different syntax.
Looking at this [SO answer](https://stackoverflow.com/a/48521023) there are two possible solutions: convert the command to `Invoke-WebRequest` (or `Invoke-RestRequest`) syntax or download and use `curl.exe` binary directly.
The first solution seems to be the most idi

[2021-08-06 17:12] maxloosmu commented on #838
I've tried both `Invoke-RestMethod` and `Invoke-WebRequest`.  Both do not work.  I get an error when I run `test.ps1`.  I can't attach the file here because of github's restrictions, but I've copied the relevant code into `test.txt` and attached the file here.
[test.txt](https://github.com/kiegroup/kogito-examples/files/6947022/test.txt)

[code]

[2021-08-07 14:06] maxloosmu commented on #838
I have a feeling that Kogito's examples are not fully designed for Powershell.  Is it ok to use Powershell to test Kogito's examples?

[2021-08-08 08:34] tarilabs commented on #838
With reference to the original issue description here: https://github.com/kiegroup/kogito-examples/issues/838#issue-961822217

The example works just fine on Windows, as demonstrated by this screenshot:
![image](https://user-images.githubusercontent.com/1699252/128625885-ec5b9fc5-a2f2-4949-bc62-746eda3f7930.png)

If you are using PowerShell and not the default Command Prompt on Win10, you need to:

[2021-08-09 09:42] JudeNiroshan commented on #769
Hi @ChangDaoHang, Thanks for explaining the execute path. I would like to know, are you still able to reproduce the problem in the shared demo project? Because I tried the these attempts and I'm not able to see any problem.

1. `mvn spring-boot:run`
2. `java -jar target/demo.jar`
3. running directly the main application class through IDEA

If you can still reproduce the bug with the shared demo pr

[2021-08-09 09:59] ChangDaoHang commented on #769
@JudeNiroshan The `ProtostreamObjectMarshaller` file is generated by the Kogito plugin and has one line of code in the constructor:
[code]
It was obviously registered using "META-INF/kogito-types.proto" as the secret key,so I don't think what you're describing matches what I've seen with my own eyes.  I don't know why you can't reproduce this problem, but I think the demo is a pretty simple exampl

[2021-08-09 10:10] cristianonicolai commented on #769
@ChangDaoHang I tried your demo and I'm also not able to reproduce the issue, managed to get the process working from end-to-end. Basically, I downloaded your project, updated the settings for my local mongo and kafka instances and run a `mvn clean install`. Proto files are generated correctly under `target/classes/META-INF`. To run the application I then executed `mvn clean package spring-boot:ru

[2021-08-09 10:53] JudeNiroshan commented on #769
@ChangDaoHang

ohh, that's the problem. See, the generated constructor for your `ProtostreamObjectMarshaller` is different. This is what I see on my generated `ProtostreamObjectMarshaller` file.

[code]
Note the first parameter value for addProtoFile method. In your generated class it has added `META-INF/` to the first parameter file name. This causes can cause the problem you are mentioning in th

[2021-08-09 12:49] JudeNiroshan commented on #769
@ChangDaoHang This is most likely something related with kogito-runtime dependency version mismatch. When you run `mvn clean package`, can you check which version appears in the phase of model class generation? like below you can see my version is **`kogito-maven-plugin:1.8.0.Final:process-model-classes`**

[code]

Removing the `META-INF` in the `ProtostreamObjectMarshaller` constructor is being c

[2021-08-10 03:03] ChangDaoHang commented on #769
@JudeNiroshan @cristianonicolai
To make it more intuitive, I made a simple recording. Please take a few minutes to watch it .
operation playback:
![动画2](https://user-images.githubusercontent.com/82495367/128801606-55176abf-2c48-45f9-9133-c727333bec05.gif)

java -version:
[code]
mvn -version：
[code]
package log:
[code]

`ProtostreamObjectMarshaller`:
![image](https://user-images.githubusercontent.c

[2021-08-10 13:40] cristianonicolai commented on #769
@ChangDaoHang thanks for the details, we managed to reproduce it, here is JIRA https://issues.redhat.com/browse/KOGITO-5687.

[2021-08-10 14:06] fjtirado commented on #769
Here is the PR https://github.com/kiegroup/kogito-runtimes/pull/1523

[2021-08-11 02:21] cristianonicolai commented on #769
@ChangDaoHang thank you for your patience and help with all the details

[2021-08-11 15:01] cristianonicolai commented on #769
@ricardozanini unfortunately, build was in progress already when this was merged

[2021-08-12 07:01] maxloosmu commented on #838
@tarilabs , thanks!  the commands work.

[2021-08-12 07:01] #838 closed

[2021-08-24 15:49] maxloosmu opened #860 "ruleunit-quarkus-example - stateless sessions? How do we save the data we posted?"
For the example ruleunit-quarkus-example, does it use stateless or stateful sessions?  Based on my tests using Swagger UI, the data that are posted are not saved.  How do we save the data?

[2021-08-30 00:06] #860 closed

[2021-08-30 00:06] maxloosmu opened #868 "ruleunit-quarkus-example - stateless sessions? How do we save the data we posted?"
For the example ruleunit-quarkus-example, does it use stateless or stateful sessions? Based on my tests using Swagger UI, the data that are posted are not saved. How do we save the data?

[2021-08-30 09:32] r00ta commented on #868
Hi @maxloosmu ,
I think this https://groups.google.com/g/kogito-development/c/dFrQSe__YkU/m/grOb1b_aAgAJ answers your question

[2021-08-30 14:06] maxloosmu commented on #868
Hi @r00ta ,
Thanks, I have another question, but I do not have permission to post to the google groups conversation.  I'm new to Drools and Kogito, but I've briefly read this:

https://docs.kogito.kie.org/latest/html_single/#con-persistence_kogito-developing-process-services

Will either of the 4 persistence options (using Infinispan, MongoDB, Kafka Streams or PostgreSQL) be able to resolve the "w

[2021-08-30 15:30] r00ta commented on #868
Hi @maxloosmu , nope: the persistence is only for bpmn and not for rules. Kogito does not support stateful sessions for rules yet, If your scenario is stateful, I think you should stay with the KIE Execution Server until Kogito supports that as well

[2021-09-06 08:03] #868 closed

[2021-09-20 08:52] plorent opened #889 "Kogito Travel Agency example: data-index crashes when running docker-compose"
When running docker-compose (kogito-examples/kogito-travel-agency/extended/docker-compose) the data-index crashes with `ERROR [io.qua.run.Application] (main) Failed to start application (with profile prod): org.infinispan.commons.CacheConfigurationException: ISPN004030: Cannot enable authentication without specifying either a username, a token, a client Subject or a CallbackHandler`. How can we re

[2021-09-20 12:06] ricardozanini commented on #889
@cristianonicolai any thoughts?

[2021-09-20 12:08] #769 closed

[2021-09-20 14:45] fjtirado commented on #794
@mgonzaga1990 We will take a look and let you know

[2021-09-21 04:50] cristianonicolai commented on #889
@plorent thanks for reporting this, I created a PR for fixing the examples but you can fix it manually for now by simply adding:
`QUARKUS_INFINISPAN_CLIENT_USE_AUTH: "false"` to Data Index environment variables inside the docker compose file.

[2021-09-21 07:50] plorent commented on #889
Thanks @cristianonicolai - closing this issue.

[2021-09-21 07:50] #889 closed

[2021-10-05 11:15] AmareshKulkarni opened #914 "Question - Dynamic BPMN loading"
Assuming that we enable the online bpmn editor to let our business users create BPMN flows, is there a way to dynamically load the new business processes created? Could someone please point me to an example?

[2021-10-05 11:57] r00ta commented on #914
Hi @AmareshKulkarni , this is a duplicate of https://github.com/kiegroup/kogito-runtimes/issues/999 .

This is not possible at the moment. I'll close this issue, feel free to comment to the issue I posted above!

[2021-10-05 11:57] #914 closed

[2021-10-05 11:58] AmareshKulkarni commented on #914
Thank you for the quick response.

[2021-10-05 16:16] dfborba commented on #769
Is anyone still having this issue? I updated to version 1.11.1.Final, using last version of stable repository and still can't test process-mongodb-persistence-quarkus example. I still have to manually add the META-INF behind kogito-types.proto import everytime I clean the project.

Is something that I'm missing in my environment configuration since it supposed to be fixes in the version 1.11.x and

[2021-10-06 06:07] cristianonicolai commented on #769
@dfborba should now be fixed by https://github.com/kiegroup/kogito-runtimes/pull/1647. That will land on 1.12

[2021-10-06 06:46] himanshumps opened #918 "Support for spring webflux"
Kogito currently supports spring mvc and not spring webflux. Is there any plan to support that ?

I am guessing if it supports Quarkus, it should not be difficult to support webflux as well.

Any pointers on how it can be achieved ?

[2021-10-06 13:23] ricardozanini commented on #918
Hi @himanshumps!

We don't have plans to support Spring Webflux, but I understand it's fairly simple to implement yourself if you disable the REST creation and call the APIs directly (summon @evacchi)

[2021-10-07 09:48] #918 closed

[2021-10-07 09:49] himanshumps opened #922 "Create rule programmatically rather than from DRL file"
I looked at all the examples and couldn't find any way to generate the DRL or rules using the Fluent or DSL API .. Is there any way I can take a json file which has the rules and convert it into DRL file ?

Any test case or sample would be highly appreciated

[2021-10-07 09:54] evacchi commented on #922
DRL rules are currently supposed to be present in your project and processed at build-time, thus it would not be currently possible to synthesize rules on the fly.

[2021-10-07 17:50] himanshu-gupta01 commented on #918
@ricardozanini
Are we talking about this link ?

https://blog.kie.org/2021/09/kogito-api-incubation.html

[2021-10-07 17:58] himanshu-gupta01 commented on #918
Are we talking about this?

https://blog.kie.org/2021/09/kogito-api-incubation.html

[2021-10-08 12:39] ricardozanini commented on #918
@himanshu-gupta01, I meant that you could write a blog post about integrating webflux as soon as you accomplish it.

And yes, this article you linked can help you put things together. :)

Thanks!

[2021-11-03 21:52] antmendoza opened #967 "serverless-workflow-error-quarkus compilation error"
After compiling the whole `kogito-examples` project I have tried to run `mvn clean package quarkus:dev` (into serverless-workflow-error-quarkus) and I've got the following error:

[code]

I've changed the parent pom version to 1.12.0.Final, and after running `mvn clean package quarkus:dev` again I've got:

[code]

[2021-11-04 10:07] fjtirado commented on #967
you need latest version of kogito-runtimes main branch in order serverless-workflow-error-quarkus to work
See commit 8fbd991ef6d50265fafaf63bf975f7c78716b246

[2021-11-04 10:27] antmendoza commented on #967
ok I didn't know that,  sorry!!

I will give it a try, thank you!!!

[2021-11-04 11:57] antmendoza commented on #967
the issue happens in the "stable" branch, where the version of the parent pom (kogito-examples) is 1.12.0.Final.
serverless-workflow-error-quarkus is expecting the parent pom to be in 2.0.0-SNAPSHOT

[2021-11-04 13:06] fjtirado commented on #967
yes, you need to use main

[2021-12-19 05:51] debu999 opened #1049 "Error Running Kogito - Quarkus with Mongodb"
Running kogito with following pom throws errors and need docker and data index/testcontainers.

- Need details on what is going wrong in my usecase.
- Running with ./mvnw clean compile quarkus:dev
 Its a quarkus-mongo-kogito project for me.

Main Error:
<code>
2021-12-19 11:07:39,887 ERROR [org.kie.kog.qua.com.dep.InMemoryCompiler] (build-1) src/main/java/org/kie/kogito/persistence/KogitoProcessIn

[2021-12-19 05:51] debu999 commented on #1049
Working on migrating from springboot to quarkus but stuck with setup for past 3 days now.

[2021-12-21 15:15] debu999 commented on #1049
with quarkus 2.6.0.Final getting error Failed to load steps from class org.kie.kogito.quarkus.deployment.kogitoDevServicesProcessor

[2021-12-22 08:45] #967 closed

[2021-12-23 03:12] debu999 commented on #1049
<dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-config-yaml</artifactId>
        </dependency>
Finally after 3 days for struggle it worked with application.properties but not with application.yml

[2022-01-01 12:03] debu999 opened #1058 "Google/Custom OIDC /OAuth2 setup with Kogito Dataindex and configuring graphql security without keycloak"
Hi Team,
In our organisation we use internal active directory and federation services. We do not manage via keycloak. Both Task Console and Management Console need keycloak setups. Is there any informaiton on how we can customize the same with quarkus security. Do we need to embedded our platfomr with that for the quarkus oidc or there is sample example to do this.

p.s. we cant use keycloak as ou

[2022-01-02 10:51] debu999 opened #1059 "kogito-addons-quarkus-tracing-decision - jsr310 error"
With the addon kogito-addons-quarkus-tracing-decision , we get error with org.kie.kogito.tracing.decision.QuarkusDecisionTracingCollector_VertxInvoker_onEvent...invokeBean
Error:
Java 8 date/time type `java.time.LocalDate` not supported by default. add Module "com.fasterxml.jackson:jackon-datatype-jsr310" to enable handling (through reference chain: java.util.HashMap["Date"])

Is there any configu

[2022-01-04 08:04] radtriste commented on #1059
@debu999 we have that issue https://issues.redhat.com/browse/KOGITO-6319 already. It should be fixed in 1.15 release coming in the next days

[2022-01-04 10:02] manstis commented on #1059
Hi @radtriste that PR probably does not fix the issue reported for Trusty.

I am working on a fix now.

[2022-01-04 10:13] manstis commented on #1059
See https://issues.redhat.com/browse/KOGITO-6490

[2022-01-04 14:53] ricardozanini commented on #1058
Duplicate issue: https://github.com/kiegroup/kogito-apps/issues/1178

[2022-01-04 14:53] #1058 closed

[2022-01-05 06:08] blue-troy opened #1062 "on serverless workflow , how to use swich dataConditions when simple =="
this is my demo, i use `curl -X POST -H 'Content-Type:application/json' -H 'Accept:application/json' -d '{"workflowdata" : { "action" : "list" , "access" : { "ak" : "aa" , "sk" : "aa" }}}' http://localhost:8080/RestExample` to start my workflow instance.  want a help to know how to use condition when simple == .

[code]

with java error log

[code]

[2022-01-05 09:05] blue-troy commented on #1062
[code]

this is ok.

i was confused by  "expressionLang": "jsonpath",

[2022-01-05 09:05] #1062 closed

[2022-01-06 06:39] cristianonicolai commented on #1049
@debu999 support for application.yml should be available in Kogito 1.15.

[2022-01-06 06:48] #454 closed

[2022-01-06 06:52] #922 closed

[2022-01-10 15:12] dragondiver opened #1072 "Build of decisiontable-quarkus-example fails if you put a csv file into resources folder"
My build breaks, if I put a simple csv file (containing 1;2;3) into the resources folder.
How could I use a decision table in a larger project, that also needs some csv files?

[2022-01-10 20:47] manstis commented on #1059
The change has been [merged](https://github.com/kiegroup/kogito-runtimes/pull/1829) and should be in `1.16.0`

Please feel free to try with the latest `SNAPSHOT` and feedback any issues.

[2022-01-10 20:47] #1059 closed

[2022-01-12 09:30] mariofusco commented on #1072
Unfortunately this is a well known issue of drools and therefore also of kogito that is based on it. If you have the decisiontables module among your dependencies then drools assumes that all files with extensions `.xls`, `.xlsx` and `.csv` under the folder `src/main/resources` are decisiontables, it tries to compile them as such and if it can't it raises a compile time error. We know that this as

[2022-01-15 18:29] StephenOTT opened #1086 "cannot delete a process variable if being used by another activity: Needs Error messaging"
If you try and modify or delete a process variable and that variable is being used in another activity (such as in Input/Output mappings), the delete button does not do anything and if you try and modify the name of the variable, it just returns to its original value.  There needs to be some error messaging indicating why you cannot modify/delete the variable and where to find the associated confi

[2022-01-15 18:30] StephenOTT commented on #1086
closing as in wrong repo.

[2022-01-15 18:30] #1086 closed

[2022-01-16 15:50] StephenOTT opened #1087 "Postgres is the default (instead of infinispan) in examples?"
when running examples such as process-usertask-quarkus, the defaults deploy test containers with postgres.  But lines in the docs seem to suggest that infinispan is the default:  https://docs.jboss.org/kogito/release/1.15.0/html_single/#proc-data-index-service-postgresql_kogito-configuring

If this is the case, based on the note in that above section, where postgres is not supported for domain dat

[2022-01-17 14:47] StephenOTT opened #1090 "Examples are forcing Checkstyle with RedHat license"
When running the examples and making additional changes, the check style started kicking in the past 24h that enforces a Red-hot license header on files.  Was this a change done upstream?

[2022-01-18 06:21] cristianonicolai commented on #1090
@StephenOTT, afaik this should be in place for a long time now, all Kogito related repos have this rule set.

[2022-01-18 13:05] #1090 closed

[2022-01-21 09:00] cristianonicolai commented on #1049
Fixed on version 1.15

[2022-01-21 09:00] #1049 closed

[2022-01-21 13:38] Dantes-Damir opened #1100 "Cannot find class info in jandex index for short"
In project process-postgresql-persistence-quarkus, i added variable: **private short number;** in Traveller class:
public class Traveller {

    private String firstName;
    private String lastName;
    private String email;
    private String nationality;

    private Address address;
    private short number;

    public Traveller() {

    }
...

And i got this exception: **Caused by: java.lang

[2022-01-21 13:56] fjtirado commented on #1100
@evacchi Looks like short is not supported in jandex?

[2022-01-21 14:43] evacchi commented on #1100
looks like a classloader-related issue. Which version of Quarkus? /cc @aloubyansky

[2022-01-24 07:49] Dantes-Damir commented on #1100
And i got the same error in our project:
2022-01-24 10:38:46,590 DEBUG [io.qua.dep.ste.CombinedIndexBuildStep] (build-4) Index: [I
2022-01-24 10:38:46,591 WARN  [io.qua.dep.ste.CombinedIndexBuildStep] (build-4) Failed to index [I: Class does not exist in ClassLoader QuarkusClassLoader:Deployment Class Loader: DEV@7d9e8ef7

I can't share this business model, but it's valid model, it's used in produ

[2022-01-24 07:57] aloubyansky commented on #1100
I'll look into this.

[2022-01-24 07:57] Dantes-Damir commented on #1100
I understood than this error appears when we use java.math.BigDecimal.
@evacchi In our project we tried to use diffrent versions of quarkus, from 2.6.0 to 2.6.3.Final
<quarkus.platform.version>2.6.3.Final</quarkus.platform.version>

[2022-01-24 09:24] aloubyansky commented on #1100
@Dantes-Damir should there be anything more than changing the Traveller class and launch dev mode? I did the following
[code]
Also tried `short`. Haven't seen any error yet. Quarkus 2.6.2.Final. Thanks.

[2022-01-24 09:30] Dantes-Damir commented on #1100
@aloubyansky Did you start project with -Ppersistence?

[2022-01-24 09:33] aloubyansky commented on #1100
No, that's what I was missing. Thanks.

[2022-01-27 13:20] Dantes-Damir opened #1103 "Impossible to find field chronology in class java.time.LocalDate"
In project process-postgresql-persistence-springboot https://github.com/kiegroup/kogito-examples/tree/stable/kogito-springboot-examples/process-postgresql-persistence-springboot, i added variable java.time.LocalDate: private LocalDate localDate; in Traveller class:
`***
public class Traveller {

    private String firstName;
    private String lastName;
    private String email;
    private String

[2022-01-27 13:24] Dantes-Damir commented on #1103
@evacchi @fjtirado Can you help me with this problem? Thanks.

[2022-01-27 13:42] r00ta commented on #1103
Hi @Dantes-Damir , can you try with the latest version 1.16.0?

[2022-01-27 13:50] Dantes-Damir commented on #1103
Hi @r00ta, i got the same error with 1.16.0  version
[logs.txt](https://github.com/kiegroup/kogito-examples/files/7950915/logs.txt)

[2022-01-27 14:05] aloubyansky commented on #1100
Sorry, haven't figured it out yet.

[2022-02-03 08:36] Dantes-Damir opened #1115 "Kogito overrides Enum variable when we use task with isAsync"
I created enum:
`public enum LogEntityType {
    REQUEST,
    RESPONSE,
    STRAT_PARAMS,
    AUTO_ANSWER
}`

Then I added "private LogEntityType logEntityType;" in Traveller class:
`package org.acme.deals;

public class Traveller {

    private String firstName;
    private String lastName;
    private String email;
    private String nationality;
    private Address address;
    private LogEntit

[2022-02-03 09:37] fjtirado commented on #1115
@cristianonicolai the call to setLogEntity that appears in the log is probably performed during unmarshalling (when the process info is read as part of persistence addon)
@Dantes-Damir in the meantine, can you print the stack trace in setLogEntity to confirm that?

[2022-02-03 10:16] Dantes-Damir commented on #1115
@fjtirado java.lang.Throwable
	at org.acme.deals.Traveller.setLogEntityType(Traveller.java:48)
	at org.kie.kogito.app.TravellerMessageMarshaller.readFrom(TravellerMessageMarshaller.java:37)
	at org.kie.kogito.app.TravellerMessageMarshaller.readFrom(TravellerMessageMarshaller.java:21)
	at org.infinispan.protostream.impl.MessageMarshallerDelegate.unmarshall(MessageMarshallerDelegate.java:96)
	at org

[2022-02-07 16:42] anandgupta565 opened #1118 "Not able to use LocalDateTime and ZonedDateTime"
Hi,
Kogito  bom version:- 1.16.0.Final
Quarkus bom:- 2.7.0.Final
I have added ZonedDateTime and LocalDateTime in my model . but i am getting bellow error

**Build step org.kie.kogito.quarkus.processes.depoyment.ProcessAssetsProcessor#postGenerationProcessing throw on exception ..
error generation proto for model Employee Cannot find info in janindex or short**

public class  Employee {

private St

[2022-02-08 01:00] debu999 commented on #1100
We too git the same road block. Had zonedatetime or localdate in the process variable. Getting error for short not in jandex.
Google protobuf have timestamp and date.
Is there anything by which we can specify which datatype to convert.
Currently only String, Integer, Long, Double, Boolean, Date works. We can't add any other data type on kogito
Using 1.16.0.Final and 2.7.0.Final quarkus.

Also quar

[2022-02-08 01:04] debu999 commented on #1118
@evacchi is there any specific setup for adding other datatypes.

[2022-02-08 17:50] aloubyansky commented on #1100
@evacchi it doesn't look like a classloading issue to me but something that should be fixed in the proto generator, e.g.
[code]
With that I get passed that error but then it fails with
[code]

[2022-02-08 17:53] aloubyansky commented on #1100
Or possibly `org.kie.kogito.codegen.process.persistence.proto.ProtoGenerator.protoType(type)` should recognize BigDecimal in similar way it recognizes Date?

[2022-02-08 17:54] aloubyansky commented on #1100
@debu999 fyi, 2.7.1.Final has been released today which includes Kogito.

[2022-02-09 01:27] debu999 commented on #1100
Thanks @aloubyansky on the info. A new feature request is added to kogito for including other date formats for marshalling.

https://issues.redhat.com/browse/KOGITO-6756
Hope to use few additional data types soon. Will definitely try out kogito with quarkus inn2.7.1.Final today and share update

[2022-02-11 15:58] samding01 opened #1121 "CI support s390x & ppc64le"
Just an inquiry. Now  CI supports only AMD64 as it downloads `gh`. Do you have a plan to support s390x and ppc64le?
There is no official release of `gh` for s390x and ppc64le,  but it is possible to build local `gh` for s390x and ppc64le.

Thanks,

[2022-02-13 03:27] outofsyncbe opened #1122 "Multiple datasource/datastream for ruleUnit"
Hello,

I am trying to evaluate Kogito drools ruleunit. On receiving event from kafka, send graphql and hydrate event with received information and then run Drools rules.
e.g. A New order event is received with customerId and orderDetails. Send graphql to hydrate NewOrderEvent with customer profile, and then run Drools ruleUnit. Couldn't find example to do it though.
I was just thinking of creatin

[2022-02-14 13:18] cristianonicolai commented on #1118
@anandgupta565  the fix should land in version 1.18.0, feel free to reopen this if the problem persists.

[2022-02-14 13:18] #1118 closed

[2022-02-14 13:19] cristianonicolai commented on #1103
@Dantes-Damir  the fix should land in version 1.18.0, feel free to reopen this if the problem persists.

[2022-02-14 13:19] #1103 closed

[2022-02-15 14:50] ricardozanini commented on #1122
@evacchi can you take a look?

[2022-03-24 00:45] cristianonicolai commented on #1100
Fixed on KOgito 1.18, feel free to reopen if issue is not resolved completely.

[2022-03-24 00:45] #1100 closed

[2022-03-25 19:41] faustool opened #1198 "Can't run "ruleunit-event-driven-quarkus" tests using VSCode Test Runner for Java extension"
### Describe the bug

When I try to run the VSCode Test Runner

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Kogito version or git rev (or at least Quarkus version if you a

[2022-03-25 19:55] faustool opened #1199 "Can't run "ruleunit-event-driven-quarkus" tests using VSCode (WSL2) Test Runner for Java extension"
### Describe the bug

When I try to run the `ruleunit-event-driven-quarkus` project tests in VSCode with a project in WSL using the `Test Runner for Java` extension, it fails with this error at the bottom of the stacktrace:

[code]

Everything works fine when I run `mvn clean install`, but not from inside VSCode.

### Expected behavior

I expect all tests to run in the IDE as it runs using Maven.

[2022-03-25 19:59] faustool commented on #1199
I looked at `KogitoGenericContainer.java:44` and it throws an exception because this `System.getProperty(propertyName)` returns null. In this case, `propertyName` is `container.image.kafka`, and there's nothing in the code loading this property.

So I assume there's some automated task that's executed when running the integration test from `Maven`, but is skipped when running it from the IDE.

[2022-03-28 20:09] jdao-rh opened #1200 "s390x support documentation"
### Description

Here is some notes for things i ran into trying to enable s390x support, mainly documenting missing images needed for the tests cases. Incase someone finds this info useful in the future
## Build
Build is successful with command
[code]
## tests
Tests cases fail due to the following missing images :
- confluentinc/cp-kafka:5.4.3
  Can be built from source https://github.com/conflue

[2022-03-30 07:07] cristianonicolai commented on #1199
Created https://issues.redhat.com/browse/KOGITO-6922 to track this issue.

[2022-03-30 07:20] cristianonicolai commented on #1198
Closing this as duplicate of https://github.com/kiegroup/kogito-examples/issues/1199

[2022-03-30 07:20] #1198 closed

[2022-04-01 09:16] anandgupta565 opened #1203 "custom graphql shema is not working with data-index"
### Description

Hi Team,

We have implemented with custom graphql API on data index but it is not reflecting with data-index graphql playground(/graphql)
we have added graphql-client as dependency .
Could you please guide us,How can we implement custom graphql API.

### Implementation ideas

_No response_

[2022-04-04 06:16] cristianonicolai commented on #1199
a fix has been merged, expect it to be available on Kogito 1.20 release.

[2022-04-04 06:16] #1199 closed

[2022-04-04 06:53] cristianonicolai commented on #1203
@anandgupta565 could you describe your use case, as the data index isn't designed to support custom extensions, although it could be possible.

[2022-06-17 10:38] juangon opened #1296 "Kogito Management console doesn't retrieve Job or instances (javascript error)"
### Describe the bug

I cloned kogito-examples and followed instructions on README (in my case, it was process-usertasks-with-security-oidc-quarkus-with-console).

After making mvn clean install, then docker-compose/startServices.sh, and then running quarkus demo jar file, Management console can't get Job or Instance. It gives a javascript error:

[code]

and keeps showing "Loading process instanc

[2022-06-20 06:49] nmirasch commented on #1296
@juangon hello, Let me try it. Just a few details to try to reproduce it properly, What OS are you  trying with? I guess you are trying with 'stable' branch, is that correct?

[2022-06-20 06:51] juangon commented on #1296
Hi @nmirasch .

I am using Ubuntu 20.04.

Yes, I am using default, wich is "stable" branch.

Thanks very much!

[2022-06-20 07:27] nmirasch commented on #1296
@juangon thanks, let me give this a try!

[2022-06-20 08:46] juangon commented on #1296
Thanks @nmirasch ! BTW, after doing startServices.sh it gives me this output with some errors:
[code]

[2022-06-20 08:53] pefernan commented on #1296
hey @juangon I'm currently trying the example in Fedora and it's working fine... based on your last comment, it looks like the `startServices.sh` script is failing when tries to identify your OS and it doesn't properly sets the `DOCKER_GATEWAY_HOST`.

Looks like that the if sencence in lines 21~25 isn't working fine in ubuntu.  Something you can try to do your tests is just get rid of the if and r

[2022-06-20 09:01] juangon commented on #1296
Thanks @pefernan ! That worked!

I don't understand why $(uname) doesn't work properly in my Ubuntu

[2022-06-21 08:05] juangon opened #1299 "Can't retrvieve schema from a Task"
### Describe the bug

After creating a new process instance, I tried to access Task schema (so I can generate a form), Kogito runtime replies that the task doesn't belong to the process.

### Expected behavior

Schema is returned properly with no errors

### Actual behavior

This exception is thrown in Kogito:
[code]

### How to Reproduce?

Steps to reproduce:
1-Create task, like in README (follow

[2022-06-21 08:12] CoffeeWithBurger opened #1300 "Persistence does not work in 1.21.0 or latest versions"
### Describe the bug

The project version was updated from 1.20.0 to 1.22.1 and after that kogito stopped working with postgresql with the same configs.
For example - kogito-examples/kogito-springboot-examples/process-postgresql-persistence-springboot with 'persistence' profile.
This problem is also observed in 1.21.0.Final and 1.22.0.Final versions.

### Expected behavior

Data about the process

[2022-06-21 08:43] juangon commented on #1299
Thanks @fjtirado . It doesn't return anything. In any case, @pefernan pointed me to the right solution: it's mandatory to add user and group in the URL! I don't understand why this is needed, as this data should be already in token, right?

[2022-06-21 09:01] #1300 closed

[2022-06-21 11:25] fjtirado commented on #1299
@pefernan was right (I do not realize you were not specying the user and group. Unfortunately, we are not using the token for authorizacion purposes yet, only for authentication.

[2022-06-22 10:10] linkfi opened #1307 "Not able to use Start Timer in a process"
### Describe the bug

I am using Start Timer in a process. The process is very simple. **Start Timer -> Script Task ->End** But getting below error:
`java.lang.UnsupportedOperationException: Scheduling for process jobs is not yet implemented
	at org.kie.kogito.jobs.management.quarkus.VertxJobsService.scheduleProcessJob(VertxJobsService.java:94)
	at org.kie.kogito.jobs.management.quarkus.VertxJobsS

[2022-06-22 20:56] ricardozanini commented on #1307
Hi! I think this feature hasn't been implemented yet. See the message in your stack trace: `Scheduling for process jobs is not yet implemented`.

cc @tiagodolphine @wmedvede

[2022-07-14 09:30] tokarenko commented on #1296
sh interpreter can't handle "[[" in if statements. So, we should use bash to call startServices.sh
`$ bash startServices.sh`

[2022-07-15 14:47] tokarenko opened #1330 "Provide example for Kogito with Business Central"
### Description

I suggest to develop example on how to run Business Central with Kogito.

### Implementation ideas

I thought it was possible to bring up Business Central in a docker container and integrate with Kogito via GIT hooks as described [in KIE blog post](https://blog.kie.org/2021/03/integrate-kogito-and-business-central.html) and by [Alex Porcelli](https://porcelli.me/rhba/business-cent

[2022-07-15 20:25] ederign commented on #1330
Hi @tokarenko,

If you are using BC, your only option is to use kie server as runtime. There are no current plans to support kogito as runtime of Business Central.

[2022-07-15 20:26] #1330 closed

[2022-07-19 07:12] tokarenko opened #1331 "Request for example with multiple versioned processes"
### Description

Please provide example on how to build single Kogito application serving multiple processes with multiple versions.

### Implementation ideas

I suppose that the processes should be configured as Maven modules.

[2022-07-19 09:16] radtriste commented on #1331
@tokarenko Thanks for sharing.

The purpose of Kogito is cloud-oriented so the different processes/versions should be handled by different applications.
That way you can target the correct process by targeting the correct application.
Also, to use different versions of the same process (so still different application running), I suggest to use a service mesh like https://istio.io/. That way you ca

[2022-07-20 11:45] ricardozanini commented on #1331
To add on top of the excellent @radtriste reply.

Ideally, you should focus on only one workflow per Kogito application. So you have a straightforward interface, a single instance of a workflow running on your architecture. For example, you can move faster and have a clean CI/CD process this way.

Versioning a process, I'd recommend a service mesh/routing operator to have multiple versions of the

[2022-07-20 15:03] tokarenko opened #1334 "Process version setting in pom.xml breaks kogito-ide-config dependency"
### Describe the bug

I tried to introduce process version control to the example in [process-usertasks-timer-quarkus-with-console](https://github.com/kiegroup/kogito-examples/tree/stable/kogito-quarkus-examples/process-usertasks-timer-quarkus-with-console)

I made the following modifications:

[code]

This leads to build failure with the following warning and error:

It seems that dependency kogi

[2022-07-20 15:27] radtriste commented on #1334
@tokarenko indeed, issue is here: https://github.com/kiegroup/kogito-runtimes/blob/main/kogito-build/kogito-build-no-bom-parent/pom.xml#L518

Created https://issues.redhat.com/browse/KOGITO-7616

[2022-07-20 15:27] #1334 closed

[2022-07-21 10:09] tokarenko commented on #1331
Thank you Tristan and Ricardo for your quick and valuable replies that I will use for guidance. I would be grateful if you could answer my further questions.

### Question 1: How to provide for persistence with versioned processes?
From the examples I understood that process version control should be done through the "Version" property in BPMN diagram and Maven GAV is not relevant. Is ID for persi

[2022-07-21 10:17] radtriste commented on #1331
cc @cristianonicolai

[2022-07-25 15:52] tokarenko opened #1345 "Invalid size for id and correlation_id fields in DDL scripts kogito-ddl-1.24.0.Final"
### Describe the bug

Jobs service fails with the following error when PostgreSQL database are initialized with DDL scripts kogito-ddl-1.24.0.Final

`jobs-service          | 2022-07-25 15:16:57,453 nb-g53 ERROR [org.kie.kogito.jobs.service.resource.error.DefaultErrorMapper:-1] (executor-thread-0) Handling HTTP Error: io.vertx.pgclient.PgException: ERROR: value too long for type character varying(4

[2022-07-26 02:55] cristianonicolai commented on #1345
@tiagodolphine can you take a look?

[2022-07-31 22:53] cristianonicolai commented on #1345
Created JIRA to track this issue https://issues.redhat.com/browse/KOGITO-7642

[2022-07-31 23:46] cristianonicolai commented on #1331
@tokarenko let me try to answer some of these.

In order to isolate processes or runtimes in the database, you can use two strategies. These are defined via `kogito.workflow.version-strategy` property that was recently introduced. In there, you can define either `workflow` ( default ) or `project`. When using `workflow`, it matches what you described, it uses the `version`  attribute from the BPMN

[2022-09-05 15:28] CoffeeWithBurger opened #1388 "Dead process"
### Describe the bug

![Schema](https://user-images.githubusercontent.com/105427130/188478563-63842d24-9fb1-43b3-bdaa-1a40df39122f.png)
The scheme shows that the process branches into 2 directions after the start:
1) Some kind of load emulation (waiting 1 minute).
2) Timer, with a configured one-time call in a minute. But the timer is then restarted using the return (arrow).

If you start this pro

[2022-09-15 16:24] CoffeeWithBurger commented on #1388
The easiest way to reproduce the problem
![image](https://user-images.githubusercontent.com/105427130/190457007-c3659e05-416b-4298-98aa-14502cf4b4d8.png)

[2022-09-16 10:09] CoffeeWithBurger commented on #1388
In the management console, you can see that the process with the error "java.lang.IllegalArgumentException - null source"
![image](https://user-images.githubusercontent.com/105427130/190613471-8ad39d42-faab-4efe-923a-836db8829f1c.png)

[2022-11-15 03:51] hyp222 opened #1473 "Jobs Service Error"
### Describe the bug

I'm following through this example (with Infinispan)

https://github.com/kiegroup/kogito-examples/tree/stable/kogito-quarkus-examples/process-usertasks-timer-quarkus-with-console

However, when I POST to http://localhost:8080/hiring
I notice it's getting error while calling Jobs Service, and no jobs created while looking through  the Management Console
![image](https://user-i

[2022-11-17 12:48] tiagodolphine commented on #1473
@hyp222 do you have these properties set in the `application.properties`?
`kogito.service.url=http://localhost:8080`
`kogito.jobs-service.url=http://localhost:8580`

[2022-11-21 04:10] hyp222 commented on #1473
@tiagodolphine , yes, that's included in the following properties file, and I haven't change anything

https://github.com/kiegroup/kogito-examples/blob/stable/kogito-quarkus-examples/process-usertasks-timer-quarkus-with-console/src/main/resources/application.properties